.addthis_floating_style.addthis_16x16_style {
	padding-top:0;
}
#access ul {
	width:218px;
	margin-left:-30px;
}
#access ul li div.submenu {
	display:none;
}
#header-wrapper {
	border: none;
}
#header-wrapper, #submenu, #access ul li div.submenu {
	box-shadow: 7px 0 5px -2px rgba(0, 0, 0, 0.2);
}
#access, #access > div, #access ul {
	float: none;
}
#access ul {
	text-align: center;
}
#access ul li, #access ul a {
	float: none;
}
#access ul li {
	margin: 0;
	padding-bottom: 8px;
}
#access .icon-angle-right {
	margin-left: 5px;
	position: relative;
	top: 2px;
}
#access .icon-angle-right:before {
	font-size: 14px;
}
#submenu .icon-angle-right {
	display: none;
}
#submenu, #access ul li div.submenu {
	width: 218px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 120;
	background: #c0823f;
	text-transform: uppercase;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
}
#access ul li div.submenu {
	background: #c0823f url(../images/submenuhover.png) repeat-y left top;
}
#submenu ul, #access ul li div.submenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 42px;
}
#submenu li, #access ul li div.submenu li {
	padding: 3px 0 8px;
}
#access ul li div.submenu li a:before {
	content: "";
	padding-right: 0 !important;
}
#submenu a, #access ul li div.submenu a {
	color: #fff;
	text-decoration: none;
	font-family: dinregular, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
}
#access ul li div.submenu ul {
	width:auto;
}
#submenu a:hover, #submenu li.current-menu-item a, #access ul li div.submenu a:hover, #access ul li div.submenu li.current-menu-item a {
	color: #000 !important;
	padding-left: 0 !important;
}
#access ul li:hover > div.submenu {
	display:block;
	margin-left:218px;
}
#access ul li:hover > div.submenu ul {
	display:block;
}
#submenu span.close, #access ul li div.submenu span.close {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 19px;
	right: 19px;
	background: url(../images/menuX.png) no-repeat;
	cursor: pointer;
	display: none;
}
.rsTitle {
	left: 30px !important;
	right: auto !important;
}
#block-galleries-list .col3 .hentry {
	width: 33.3%;
	overflow: hidden;
}
.portfolio-view-wrapper, #block-galleries-list .col3 .hentry img {
	width: 100%;
}
.em-search-advanced {
	overflow: hidden;
}
div.css-search div.em-search-advanced {
	padding: 8px 0 !important;
}
#content div.css-search {
	border: solid #c7c7c7;
	border-width: 1px 0 1px;
	border-radius: none;
	padding: 0;
}
.em-search-category, .em-search-location, .em-search-submit {
	float: left !important;
	clear: none !important;
}
.em-search-location {
	margin: 0 30px !important;
}
.em-search-category label, .em-search-location label {
	min-width: 60px !important;
}
.em-search-category #category, .em-search-country .em-search-country, div.css-search div.em-search-field {
	padding: 0 !important;
}
.em-search-submit, .em-search-submit:hover {
	border: none;
	margin: 0 !important;
	padding: 2px 5px !important;
	color: #fff;
	background: #876c4e;
}
#content .tp-rightarrow.default {
	width: auto;
}
#content .tparrows:before {
	font-family: 'viv10262013' !important;
	font-size: 48px;
}
#content .tp-rightarrow.default:before {
	content: "\69";
}
#content .tp-leftarrow.default:before {
	content: "\68";
}
.one-half, .one-third, .two-third, .one-fourth, .three-fourth {
	margin-right: 3%;
}
.column-last {
	margin-right: 0;
	float: right;
}
.sharetext i {
	display: none;
}
.events-table img {
	max-width: none;
}
 @media only screen and (min-width: 1024px) {
 .addthis_floating_style.addthis_16x16_style {
 width: 60px !important;
 background: url(../images/share-bg.png);
}
 .addthis_floating_style.addthis_16x16_style .addthis_internal_container {
 width: auto;
}
 .addthis_floating_style {
 border-radius: 0;
 -webkit-border-radius: 0;
 padding: 0;
}
 .share-wrap {
 position: relative;
}
}
@media only screen and (min-width: 1441px) {
 #block-galleries-list .col3 .hentry {
 width: 33.3%;
}
}
@media only screen and (max-width: 1024px) {
 .addthis_floating_style.addthis_16x16_style {
 width: 60px;
 background: url(../images/share-bg.png);
}
 .addthis_floating_style.addthis_16x16_style .addthis_internal_container {
 width: auto;
}
 .addthis_floating_style {
 border-radius: 0;
 -webkit-border-radius: 0;
 padding-bottom: 0;
}
 .share-wrap {
 position: relative;
}
 .share-wrap {
 display: none;
}
 .sharetext {
 cursor: pointer;
 white-space: nowrap;
 margin-left: -5px;
}
 .sharetext i {
 display: inline;
 margin-right: 0;
}
 #submenu span.close, #access ul li div.submenu span.close {
 display: block;
}
}
@media only screen and (max-width: 960px) {
 #submenu {
 display: none;
}
 #header-wrapper {
 padding: 0;
}
 #site-title-custom {
 float: none;
 padding: 15px 0 0;
 margin: auto;
 max-width: 30%;
 text-align: center;
}
 #site-title-custom a, #site-title-custom img {
 float: none !important;
}
 #site-title-custom img {
 width: auto;
 max-width: 100%;
}
 #mega-menu-dropdown {
 float: left;
 height: 50px;
 line-height: 50px;
 border-right: 1px solid #977d60;
 padding: 0 10px;
 color: #d9c2a8;
}
 #mega-menu-dropdown i {
 position: relative;
 top: 1px;
}
 .addthis_toolbox {
 top: 0 !important;
 margin: 0;
}
.addthis_floating_style.addthis_16x16_style {
background:none;
}
 .addthis_floating_style.addthis_16x16_style .addthis_internal_container, .addthis_floating_style.addthis_16x16_style {
 width: auto;
 right: 0 !important;
}
 .addthis_floating_style {
 position: absolute;
 padding-left: 0;
 padding-right: 0;
}
 .sharetext {
 display: block;
 height: 50px;
 line-height: 50px !important;
 border-left: 1px solid #977d60;
 padding: 0 10px;
 color: #d9c2a8;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-weight: 400;
 font-size: 14px;
 margin-left: -20px;
 white-space: nowrap;
}
 .sharetext i {
 margin: 0;
}
 .share-wrap {
 position: absolute;
 right: 10px;
 top: 50px;
 background: url(../images/share-bg.png);
 width:100%;
}
 #gallery-slider .rsArrow {
 display: block !important;
}
}
@media only screen and (max-width: 480px) {
 #block-galleries-list .col3 .hentry {
 margin: 10px 0 10px 0;
 width: 100%;
 float: none;
}
 #galleries-list {
margin-left:auto;
margin-right:auto;
width: 80%;
}
.entry-header .entry-meta .entry-date {
    border-top: none !important;
	font-family: dinregular, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-style: normal;
	font-size: 13px;
	font-weight: normal;
	color: #787878 !important;
	text-transform: none;
}
.entry-header-mobile {
	display: block;
}
.entry-header-mobile h1 {
    font-family: din_mediumregular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px !important;
    font-weight: normal;
    letter-spacing: normal !important;
    line-height: 26px;
	color: #111111 !important;
    padding-top: 10px;
    text-transform: uppercase;
}
 .events-table td:nth-child(2) {
 display: none;
}
 .rsThumbs {
 display: none;
}
 .rsArrowLeft {
 text-align: left !important;
}
 .rsArrowRight {
 text-align: right !important;
}
 .em-search-location {
 margin: 10px 0 !important;
 float: none !important;
}
 .em-search-category {
 float: none !important;
}
 .button {
 margin-right: 0;
 display: block;
}
}
@media only screen and (max-width: 480px) and (max-height: 320px) {
 .rsOverflow {
 height: 100% !important;
}
 .rsContent img {
 width: auto !important;
 height: 100% !important;
 margin-left: 25% !important;
}
}
@media only screen and (max-width: 320px) {
 #gallery-slider .rsArrow {
 display: none !important;
}
 .rsThumbs {
 display: block;
}
}


/* form container */
.mc4wp-form {

}

/* paragraphs */
.mc4wp-form p {
	
}

/* labels */
.mc4wp-form label{ 

}

/* fields */
.mc4wp-form input[type="text"], .mc4wp-form input[type="email"], .mc4wp-form input[type="url"], .mc4wp-form input[type="tel"], .mc4wp-form textarea {
	padding-left:8px;
	padding-top:3px;
	padding-bottom:2px;
}

/* buttons */
.mc4wp-form input[type="submit"], .mc4wp-form input[type="button"], .mc4wp-form button{
border: none;
background-color: #876c4e;
font-size: 13px !important;
padding: 8px 30px 5px 30px;
letter-spacing: normal !important;
text-transform: uppercase;
display: inline-block;
font-family: dinregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-style: normal;
text-rendering: optimizeLegibility;
font-size: 13px !important;
font-weight: normal;
text-decoration: none;
margin: 0 14px 14px 0 !important;
color: #fff;
text-transform: none !important;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.mc4wp-form input[type="submit"]:hover {
background-color: #c0823f;
}

.mc4wp-form input[type="button"]:hover {
background-color: #c0823f;
}

.mc4wp-form button:hover {
background-color: #c0823f;
}

/* messages */
.mc4wp-alert{ }
.mc4wp-alert.mc4wp-success { }
.mc4wp-alert.mc4wp-error { }
