/* Grid system */

.rsContent {
    background-color: white;
}

.packery-gutter-sizer {
    width: 2%;
    margin: 0;
}

.packery-grid-sizer, .packery-grid-item {
    width: 32%;
    margin: 0;
}

.packery-grid-item.w2 {
    width: 64%;
}

.packery-grid-item .packery-wrapper {
    position: relative;
}
.packery-grid-item .packery-wrapper > .packery-inner {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

@media screen and (min-width: 59.6875em) {

    .packery-gutter-sizer {
        width: 2%;
    }

    .packery-grid-sizer, .packery-grid-item {
        width: 23%;
    }

    .packery-grid-item.w2 {
        width: 48%;
    }
}


@media screen and (min-width: 90.063em) {

    .packery-gutter-sizer {
        width: 1%;
    }

    .packery-grid-sizer, .packery-grid-item {
        width: 19%;
    }

    .packery-grid-item.w2 {
        width: 39%;
    }
}


























